<div class="card">
  <%= link_to image_tag(tweet.image, class: :card__img ), tweet_path(tweet.id) %>
  <div class="card__body">
    <%= link_to "-#{tweet.title}-", tweet_path(tweet.id), class: :card__title%>
    <% if user_signed_in? %>
      <% if current_user != nil && current_user.already_favorited?(tweet) %>
        <%= link_to tweet_favorites_path(tweet), method: :delete do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to tweet_favorites_path(tweet), method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
      <%= tweet.favorites.count %>
    <% end %>
    <%= link_to "#{tweet.user.nickname}", user_path(tweet.user), class: :card__user %>
  </div>
</div>